{erl_opts, [debug_info]}.
{deps, [
        {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "2.0.0-pre.5"}}},
        {jiffy, {git, "git://github.com/davisp/jiffy", {branch, "master"}}} 
       ]}.


{relx, [{release, {'server', "0.1.0"}, ['server', sasl]},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}]
}.
